<div id="table">
    <table>
        <tr>
            <th>ID</th>
            <th>Id Partdida</th>
            <th>Id SubPartida</th>
            <th>Id Categoria</th>
            <th>Id Proveedor</th>
            <th>Minimo Nivel</th>
            <th>Nombre de Categoria</th>
            <th>Nombre de Subpartida</th>
            <th>Estatus</th>
            <th>Accion</th>
        </tr>
        <tr *ngFor="let data of partidas ">
            <td style="width: 5%;">{{ data.id }}</td>
            <td style="width: 5%;">{{ data.idPartida }}</td>
            <td style="width: 8%;">{{ data.idSubpartida }}</td>
            <td style="width: 10%;">{{ data.idCategoria }}</td>
            <td style="width: 10%;">{{ data.idProveedor }}</td>
            <td style="width: 10%;">{{ data.minimoNivel }}</td>
            <td style="width: 10%;">{{ data.nameCategoria }}</td>
            <td style="width: 10%;">{{ data.nameSubpartida }}</td>
        </tr>
    </table>
</div>
<div>
    <h2>Agregar Partida</h2>
    <div>
        <form appearance="fill">
            <label>Nombre</label>
            <input Input for="new-partida" #partidaName>
        </form>

        <form appearance="fill">
            <label>Id:</label>
            <input Input for="new-partida" #partidaId>
        </form>
    </div>
    
</div>
